body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:753px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:75px;
  width:545px;
  height:705px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:705px;
}
#u1 {
  position:absolute;
  left:2px;
  top:344px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:45px;
  top:173px;
  width:170px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:550px;
  top:420px;
  width:203px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
