body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:753px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:75px;
  width:545px;
  height:705px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:705px;
}
#u1 {
  position:absolute;
  left:2px;
  top:344px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:45px;
  top:173px;
  width:170px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:550px;
  top:420px;
  width:203px;
  height:37px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:37px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:262px;
  top:630px;
  width:200px;
  height:50px;
  overflow:hidden;
}
#u6_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/index/u6_state0.png');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:auto;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:262px;
  top:690px;
  width:200px;
  height:175px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:175px;
}
#u9 {
  position:absolute;
  left:2px;
  top:80px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
